* {
  box-sizing: border-box;
  /*background: rgba(255,0,0,0.1);*/
}
html, body {
  padding: 0;
  margin: 0;
}
body {
  font-size: 14px;
  min-height: 200px;
  padding-bottom: 50px;
}

.notes-list {
  padding: 20px;
  min-width: 400px;
  max-width: 600px;
  min-height: 50px;
  margin: 0 auto;
}

.note-container {
  background: #f9f9f9;
  display:flex;
  flex-direction: row;
  cursor: pointer;
  margin-bottom: 1px;
  transition: background-color 0.1s;
}
  .note-container:hover {
    background-color: #f3f3f3;
  }
.note {
  display:flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px 10px 10px 16px;
  min-height: 48px;
  min-width: 0;
  text-decoration: none;
  color: #222;
}
  .note-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    flex: 1;
  }
  .note-extra {
    font-size: 12px;
    opacity: 0.8;
    padding-top: 2px;
  }
.note-actions {
  display: flex;
  flex-direction: row;
}
  .note-pin {
    padding: 12px;
    min-width: 48px;
    text-align: center;
    display: none;
  }
  .note-delete {
    padding: 12px;
    min-width: 48px;
    text-align: center;
    transition: border-radius 0.4s, background-color 0.2s;
    border-radius: 20px;
  }
  .note-delete:hover {
    background-color: rgba(255,0,0,0.1);
    border-radius: 0px;
  }


.footer-links {
  background: rgba(0,0,0,0.1);
  position: fixed;
  height: 44px;
  width: 100%;
  bottom: 0;
  text-align: center;
  line-height: 44px;
}
