* {
  box-sizing: border-box;
  /* Cool trick to make sure all your elements behave properly: */
  /*background: rgba(255,0,0,0.1);*/
}
html, body {
  padding: 0;
  margin: 0;
}
body {
  font-size: 13px;
  min-height: 200px;
  min-width: 400px;
  padding: 30px 0 70px 0;
  font-family: "Helvetica Neue", sans-serif;
}
body.default { /* popup */
  padding-top: 0;
  padding-bottom: 42px;
}

.notes-list {
  margin: 0px;
  max-width: 640px;
  margin: 0 auto;
  border: solid 1px #f0f0f0;
  background-color: #f0f0f0;
  overflow: hidden;
}
.default .notes-list { /* popup */
  border: 0;
  max-width: 450px;
}

.note-container {
  background: #fff;
  display:flex;
  flex-direction: row;
  cursor: pointer;
  margin-bottom: 1px;
  transition: background-color 0.1s;
}
  .note-container:first-child {
    border-radius: 4px 4px 0 0;
  }
  .note-container:last-child {
    border-radius: 0 0 4px 4px;
    margin-bottom: 0;
  }
  .note-container:hover {
    background-color: #F8F8F8;
  }
.note {
  display:flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 16px 16px 16px 26px;
  min-height: 48px;
  min-width: 0;
  text-decoration: none;
  color: #222;
  position: relative;
}
  .note:focus::before {
    display: block;
    width: 4px;
    height: 100%;
    background: #1CB7E0;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
  }
  .note:focus {
    outline: 0;
    color: #337B99;
  }
  .note-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    flex: 1;
  }
  .note-extra {
    font-size: 11px;
    opacity: 0.4;
    padding-top: 2px;
  }
  .note-size {
    /*float: right;*/
    margin-left: 10px;
  }
.note-actions {
  display: flex;
  flex-direction: row;
}
  .note-pin {
    padding: 12px;
    min-width: 48px;
    text-align: center;
    display: none;
  }
  .note-delete {
    padding: 12px;
    min-width: 61px;
    text-align: center;
    padding: 23px;
    transition: border-radius 0.4s, background-color 0.2s;
    border-radius: 20px;
  }
  .note-delete:hover {
    background-color: rgba(0,0,0,0.05);
    border-radius: 0px;
  }
  .note-delete:hover path {
    fill: #d04202;
  }

.footer-links {
  background: #F8F8F8;
  border-top: solid 1px #eee;
  position: fixed;
  height: 44px;
  width: 100%;
  bottom: 0;
  text-align: center;
  line-height: 44px;
}
.export-link {
  position: relative;
  display: inline-block;
  padding: 0px 20px 0 40px;
  text-decoration: none;
  color: #333;
}
  .export-link svg {
    position: absolute;
    top: 12px;
    left: 12px;
  }
  .export-link:hover {
    color: #1CB7E0;
  }
    .export-link:hover svg path {
      fill: #1CB7E0;
    }
